{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="container">
            <div class="row g-0">
                <div class="col-sm-6 col-md-8" id="header-text">
                  <h1 id="header-h1">Be Fit <br> Stay Healthy </h1>
                  <p id="header-paragraph">Physical fitness provides strong bones and muscles leads to better health and well-being, prevents various health problems, reduces the risk of several diseases like blood pressure, diabetes, cancer, etc. and improves a better quality of life. 
                    Physical fitness reduces stress, tension and chances of being depressed and makes you feel better. 
                   </p>
                  
                </div>

                <div class="col-6 col-md-4" id="header-image"><img src="images/in-liquid-slide-2.svg " alt=""></div>
              </div>
    </div>
{% endblock content %}
